(mgl-pax:define-package :aoc.~4d.~2d
  (:nicknames :~4d.~2d)
  (:use :cl :aoc.util :mgl-pax))

(in-package :~4d.~2d)

(defsection @~4d.~2d (:title "")
  "Requirements: [Day ~2d](https://adventofcode.com/~4d/day/~2d)"

  "**Part 1** - "

  "**Part 2** - ")

(defun part-1 ()
  (summarize (foo)))

(defun part-2 ()
  (summarize (bar)))
