(mgl-pax:define-package :aoc.~4d.~2d
  (:nicknames :~4d.~2d)
  (:use :cl :mgl-pax :aoc.util))

(in-package :~4d.~2d)

(defsummary (:title "")
  "**Parsing**"

  "**Part 1**"

  "**Part 2**")

(defun build-data (&optional input)
  (read-day-input #'identity :input input))

(defun part-1 (&optional (data (build-data)))
  (foo data))

(defun part-2 (&optional (data (build-data)))
  (bar data))
