(mgl-pax:define-package :aoc.~4d.~2d
  (:nicknames :~4d.~2d)
  (:use :cl :aoc.util :mgl-pax))

(in-package :~4d.~2d)

(defsummary ~4d ~2d)

(defsection @~4d.~2d (:title "")
  (@summary section)
  "**Part 1** - "

  "**Part 2** - ")

(defun part-1 ())

(defun part-2 ())
